.home-design{
   background: black;
}
.league-design{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    /* justify-content: center;   */
}
.top-header{
    padding: 60px 0;
    color: white;
    background: url('banner.jpg') no-repeat center/cover;
    position: relative;
    z-index: 1;

}
.top-header::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

/* Responsive */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .league-design {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .league-design {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
  }