.top-league-detail{
    /* border: 1px solid cyan;
    padding-top: 100px;
    padding-bottom: 100px;
    background: cyan; */
}
.club-history{
    /* margin-top: 15px; */
    /* padding: 20px 25px; */
    /* background: blue; */
    /* color: white; */
 
}
.league-info{
    /* width: 800px;
    height: 200px;
    margin: 0 auto; */

}
span{
    margin: 5px;
    font-size: 30px;
    color: red;
    transition: all linear .5s;
}
span:hover{
    color: blue;
}
.image-responsive{
    width: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .club-history {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .image-responsive{
        width: 100px;
    }
    .league-detail{
        text-align: center;
        margin: 0 auto;
    }
    /* .league-info{
        width: 800px;
        height: 400px;
        margin: 0 auto;
    
    } */
  }