
span{
    margin: 5px;
    font-size: 30px;
    color: red;
    transition: all linear .5s;
}
span:hover{
    color: blue;
}
.image-responsive{
    width: 100px;
}

/* Responsiveness */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .club-history {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .image-responsive{
        width: 100px;
    }
    .league-detail{
        text-align: center;
        margin: 0 auto;
    }
  }